.date-picker {
    background-color: inherit;
    cursor: pointer;

    .select {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        outline: solid 1px var(--ui-border-color);
        border-radius: 4px;

        justify-self: center;
        width: 90%;
    }

    &:hover {
        .select {
            opacity: 1;
            transition: 200ms ease-in-out;
        }

        .date-to-edit {
            outline: solid 1px var(--ui-border-color);
            border-radius: 4px;
            color: var(--link-color);
        }
    }

    .date-to-edit {
        justify-self: center;
        width: 90%;
        position: relative;
        align-content: center;



        &:hover {
            .remove-date {
                opacity: 1;
            }
        }

        .selected-time {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            margin-inline: 1em;

            width: 100%;
            max-width: 100%;

            &.done {

                text-decoration: line-through;
            }
        }

        .remove-date {
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            right: 6px;
            opacity: 0;
        }
    }

}