.app-header {

    display: flex;
    align-items: center;
    gap: 5px;
    text-wrap: nowrap;

    .app-logo {

        display: flex;
        align-items: center;
        padding: 3px 10px;
        font-family: var(--title-font-family);

        margin-block: 4px;
        font-weight: 700;
        font-size: 1.14285714286em;

        .flower-logo-container {
            display: flex;
            align-items: center;
            height: 33px;
            width: 33px;
        }

        .logo-text-container {
            display: flex;
            align-items: center;
            height: 100%;

            .work-management {
                font-weight: var(--font-weight-light);
            }

        }

        &:hover {
            background-color: var(--primary-background-hover-color);
            border-radius: var(--border-radius-small);
        }

        .logo-img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        .app-name {
            margin-inline: 4px;
        }
    }



    & section {
        display: flex;
        margin-inline-start: auto;
        align-items: center;
        gap: 5px;
        font-size: .8em;

        /* .active {} */


        .login-link {
            margin-inline-start: auto;
        }

        .main-nav-btn {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 40px;

            background-color: transparent;
            border-radius: var(--border-radius-small);
            border: none;
            cursor: pointer;

            .icon.undefined {
                width: 20px;
            }

            &:hover {
                background-color: var(--primary-background-hover-color);
            }
        }

        .middle-line {
            background-color: var(--layout-border-color);
            height: 22px;
            margin-right: var(--spacing-xs);
            width: 1px;
        }
    }

    .member-Info {
        display: flex;
        align-items: center;
        margin-inline-start: auto;




        & img {
            width: 2em;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }



    * {
        cursor: default !important;
    }

}

.see-plans-container {
    display: flex;
    align-items: center;
    height: 30px;
    text-wrap: nowrap;

    background-color: initial;
    color: var(--primary-color);
    border-color: var(--primary-color);

    & :first-child {
        margin-right: 8px;
    }

    &:hover {
        background-color: var(--primary-hover-color);
        border-color: var(--primary-hover-color);
        color: #fff;

        .svg {
            color: #fff;
        }
    }

}