
.cmp-list {
    display: grid;
    gap: 12px;
    padding: 16px;


    .cmp-preview {
        display: flex;
        align-items: center;
        gap: 12px;
        text-transform: capitalize;


        p {
            margin: 0;
        }
    }
}
