.fcc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 6px;

    /* box-shadow: var(--box-shadow-large); */

    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .32);

    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-big);

    transition: width .1s;
}

/* border-radius: 8px;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
   
    
   ;
    pointer-events: all;
} */