.fcc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 1em;

    box-shadow: var(--box-shadow-medium);

    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-big);
}