.fcc-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    /* padding: 6px; */

    /* box-shadow: var(--box-shadow-large); */

    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, .1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .42);

    background-color: var(--primary-background-color);
    border-radius: var(--border-radius-medium);

    transition: width .1s;

    &:has(.calendar-container) {
        border-radius: 4px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .17);
        border: 1px solid;
        border-color: var(--layout-border-color);
        outline: 1px solid transparent;
        padding: var(--spacing-small);

    }


    &.triangle {
        &.up {
            &::before {
                content: "";
                position: absolute;
                top: -8px;
                left: 50%;
                translate: -50%;
                z-index: 1;

                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;

                border-bottom: 10px solid rgb(255, 255, 255);
            }
        }

        &.down {
            &::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 50%;
                translate: -50%;
                z-index: 1;

                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;

                border-top: 10px solid white;
            }
        }

    }

}

/* border-radius: 8px;
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
   
    
   ;
    pointer-events: all;
} */