.group-list {
    display: grid;
    gap: 2em;

    & .group-container {
        display: grid;
        gap: 1em;

        border-radius: var(--border-radius-medium);
        border: 1px solid var(--layout-border-color);
    }


    & .task-list {
        display: grid;

        gap: 1em;
        padding: 1em;

        border-radius: var(--border-radius-medium);
        border: 1px solid var(--layout-border-color);
    }
}