.hover-show {
    position: relative;
    font-size: 15px;

    &::after {
        content: attr(data-type);
        position: absolute;

        left: 50%;
        transform: translate(-50%, -10%) scale(0.7, 0.7);
        transform-origin: center top;

        padding: 4px 8px;
        white-space: nowrap;
        pointer-events: none;

        border-radius: 4px;
        opacity: 0;
        color: var(--text-color-on-primary);
        background-color: #474747;
        transition:
            opacity 0s ease-in-out,
            transform 0s ease-in-out;
    }

    &::before {
        content: "";
        position: absolute;

        left: 50%;
        transform: translateX(-50%);

        border: 6px solid transparent;
        opacity: 0;
        transition: opacity 0s ease-in-out,
            transform 0s ease-in-out;
    }

    &.up::after {
        bottom: 150%;
    }

    &.up::before {
        bottom: calc(150% - 10px);
        border-top-color: #474747;
    }

    &.down::after {
        top: 150%;
    }

    &.down::before {
        top: calc(150% - 10px);
        border-bottom-color: #474747;
    }

    &:hover::after {
        opacity: 1;
        transform: translateX(-50%) scaleX(1);
        z-index: var(--zIndex-toolTip);
        /* grow smoothly */
        transition:
            opacity 0.1s ease-in-out 0.2s,
            transform 0.1s ease-in-out 0.2s;
    }

    &:hover::before {
        opacity: 1;
        z-index: var(--zIndex-toolTip);
        transition:
            opacity 0.1s ease-in-out 0.2s,
            transform 0.1s ease-in-out 0.2s;
        /* arrow just fades in */
    }
}