.multi-member-cmp {
    display: flex;
    align-items: center;

    &.multi-members-img {
        height: 32px;
        padding: var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-small);

        .user-img {
            width: 28px;
            height: 28px;
            
            border-radius: 50%;
            border: 1px solid white;
        }
    }

    .img-wrapper {
        position: relative;
        display: flex;
        place-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        /* z-index: var(--zIndex-Layer-1); */

        &.more {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;


            border: 1px solid var(--ui-border-color);
            border-radius: 50%;

            color: var(--layout-border-color);
            background-color: var(--primary-text-color);

            &.white {

                width: 38px;
                height: 32px;
                padding-inline: 1px;

                font-size: .85rem;
                border: 1px solid white;

                border-top-left-radius: var(--border-radius-big);
                border-top-right-radius: var(--border-radius-big);
                border-bottom-left-radius: var(--border-radius-big);
                border-bottom-right-radius: var(--border-radius-big);

                color: var(--primary-text-color);
                background-color: rgb(231 233 239);
            }
        }

    }

    .img-wrapper+.img-wrapper {
        margin-left: -5px;
        z-index: var(--zIndex-Layer-2);
    }



}