.popup-backdrop {
    display: flex;
    position: fixed;

    justify-content: center;
    align-items: center;

    inset: 0;
    width: 100%;
    height: 100%;


    z-index: var(--zIndex-popUp);
    /* background-color: var(--react-modal-background); */


    &:has(.board-edit, .invite-by-mail) {
        background-color: var(--react-modal-background);
    }






    .popup-container {
        position: relative;
        display: flex;
        flex-direction: column;
        place-items: center;

        width: fit-content;
        /* max-width: 600px; */
        max-height: 90vh;

        overflow-y: auto;

        border-radius: var(--border-radius-big);
        background-color: var(--primary-background-color);
        box-shadow: var(--box-shadow-large);

        /* z-index:var(--zIndex-popUp); */
        /* padding: 1rem; */
        /* overflow-y: auto;
    flex: 1; */
        /* .popup-close-btn {
        position: absolute;
        right: 16px;
        top: 16px;
       z-index:var(--zIndex-popUp);
    } */

        &::-webkit-scrollbar-thumb {
            border-top: 30px solid transparent;
            /* shortens top */
            border-bottom: 30px solid transparent;
            /* shortens bottom */
        }
    }



    /* .popup-header {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-background-color);
    font-weight: bold;
} */

    .popup-main {}

    /* .popup-footer {
    padding: 0.5rem;
    border-top: 1px solid var(--primary-background-color);
    display: flex;
    justify-content: center;
} */
}