.side-bar {
    position: relative;
    display: flex;
    place-content: center;

    margin-left: var(--space-12);
    background-color: var(--primary-background-color);
    background: linear-gradient(135deg, var(--primary-background-color)5%, var(--surface-color)100%);
    box-shadow: inset -5px -20px 20px 0 var(--surface-color);

    width: 300px;
    height: 100%;

    
    .icon {
        width: 16px;
    }

    & .close-btn {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        background-color: var(--surface-color);
        width: 30px;
        height: 30px;
        border-radius: var(--border-radius-big);
    }

    &.false {
        width: 30px;

        & .side-bar-content {
            display: none;
        }
    }

    & .side-bar-content {
        flex-grow: 1
    }

    & .side-nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        a {
            display: flex;
            gap: 15px;
            color: var(--secondary-text-color);

            &:hover {
                background-color: var(--primary-background-hover-color);
                color: var(--primary-text-color);
            }

            &.active {
                background-color: var(--primary-selected-color);
                color: var(--primary-text-color);
            }
        }
    }

    &:hover .close-btn {
        opacity: 1;
    }

    transition: width 0.4s ease;
}

.side-bar .side-nav-list>*,
.favorites {
    padding: 1em;
    border-radius: 1vh;
}

.side-bar .close-btn {
    position: absolute;
    top: 0;
    right: -22px;
    opacity: 0;

    &.false {
        opacity: 1;
        top: 0;
        right: -22px;
    }

    transition: opacity 0.4s ease;
}

/* .side-bar .favorites {} */