.sort-filter-cmp {
    margin: 0;

    .add-btns {
        display: flex;

    }

    .button-arrow-down {
        width: 20px;
    }

    button {
        margin: 0;
        width: fit-content;
        background-color: blue;
    }
}