/* EXAMPLE USAGE */

/* .status-box {

    SET POSITION RELATIVE
    position: relative;

    SET HOVER SCALE
    &:hover .status-animation {
        scale: 1;
    }

} */



.status-animation {
    position: absolute;
    top: 0;
    right: 0;

    width: 10px;
    height: 10px;

    scale: 0;
    transition: scale .3s ease-in-out;
    transition: all .3s ease-in-out;
    transform-origin: right top;

    &:hover {
        width: 15px;
        height: 15px;
    }

    &:hover .task-editor-btn {
        opacity: 1;
        transition: opacity .1s .2s ease-out;
    }

    .task-editor-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        color: black;
    }

}