.user-msg {
    position: fixed;
    left: 50%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;

    padding: var(--spacing-small);
    margin: var(--spacing-medium);

    min-width: 200px;
    width: auto;

    border-radius: var(--border-radius-small);
    color: var(--text-color-on-primary);
    box-shadow: var(--box-shadow-medium);

    transform: translateX(-50%) translateY(-200%);
    transition: 200ms ease-in-out;
    opacity: 0;

    &.visible {
        animation: jump 300ms ease-in-out;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        z-index: 1000;
    }

    &.success {
        background-color: var(--positive-color);
    }

    &.error {
        background-color: var(--negative-color);
    }

    & button {
        border: 0;
        margin: 0;
        padding: 0;
        width: 32PX;
        aspect-ratio: 1/1;

        background-color: inherit;
        color: inherit;
        place-items: center;
        transition: 10ms;



        &:hover {
            backdrop-filter: brightness(85%)
        }
    }

}


@keyframes jump {
    0% {
        transform: translateX(-50%) translateY(-200%);
    }

    80% {
        transform: translateX(-50%) translateY(50%);
    }

    100% {
        transform: translateX(-50%) translateY(0%);
    }
}