.heartbeat {
  animation: heartbeat .5s ease-in-out;
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1);
  }
}



.done-animation {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 139px;
  width: 100%;
  height: 36px;
  background-image: url('/img/done-animation.png');
  background-repeat: no-repeat;
  background-position: 0 0;

  animation: play calc(75s / 25) steps(75);
  animation-fill-mode: forwards;
}

@keyframes play {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -9825px 0;
  }
}


.shimmer-block {
  display: block;
  min-width: 50px;
  min-height: 20px;
  width: 20%;
  height: 50%;
  margin: auto;
  border-radius: 8px;
  background: linear-gradient(90deg, rgb(221, 221, 221) 25%, rgb(183, 183, 183) 50%, rgb(221, 221, 221) 75%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
  margin-inline-end: 8px;

  &.title {
    min-width: 200px;
  }

  &.btn-size {
    display: none;
    min-width: 70px;
    min-height: 30px;
  }
}

.shimmer {
  background: linear-gradient(90deg, rgb(221, 221, 221) 25%, rgb(183, 183, 183) 50%, rgb(221, 221, 221) 75%);
  background-size: 200% 100%;
  animation: shimmer 1s infinite linear;
}

@media (min-width: 750px) {
  .shimmer-block {
    width: 50%;
    height: 50%;
    min-width: 50px;

    &.btn-size {
      display: block;
    }
  }
}


@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes fandin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}





.mini-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, white);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 6px), #000 0);
  animation: s3 1s infinite linear;
  place-self: center;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}