* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;

    font-family: Noto-Sans-Hebrew;
    font-family: Poppins;
    font-family: Roboto;
    font-family: Figtree;
    font-family: var(--font-family);

    line-height: 1.5;

    color: var(--primary-text-color);

    background-color: var(--surface-color);

    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

/* a:hover {
    text-decoration: underline;
} */

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}

.icon {
    width: 16px;
    aspect-ratio: 1/1;

    &.big {
        width: 20px;
    }
}

.hover-show {
  position: relative;

  &::after {
    content: attr(data-type);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px 8px;
    white-space: nowrap;
    pointer-events: none;

    color: var(--text-color-on-primary);
    border-radius: 4px;
    opacity: 0;
    background-color: #474747;
    transition: opacity 0.2s ease-in-out;
  }

  &.up::after {
    bottom: 150%;
  }

  &.down::after {
    top: 150%;
  }

  &:hover::after {
    opacity: 1;
  }
}
