*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    /* scrollbar style */

    ::-webkit-scrollbar {
        width: 10px;
        height: 15px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #c3c6d4;
        border-radius: 0px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #b4b7c8;
    }

    /* scrollbar-width: thin;
    scrollbar-color: #c3c6d4 transparent; */

}


@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}



body {
    margin: 0 auto;

    font-family: Noto-Sans-Hebrew;
    font-family: Poppins;
    font-family: Roboto;
    font-family: Figtree;
    font-family: var(--font-family);

    line-height: 1.5;

    color: var(--primary-text-color);

    background-color: var(--surface-color);

    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

p {
    margin: 0 0 1em;
}

a {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* a:hover {
    text-decoration: underline;
} */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}

.icon {
    width: 16px;
    aspect-ratio: 1/1;
    z-index: 1000;

    &.big {
        width: 20px;
    }

    &.white {
        filter: invert(1);
    }
}


.test {
    background-color: yellow;
}


.svg-icon {

    &.plus-blue {
        place-self: center;
        background-color: var(--primary-color);
        border-radius: 50%;
        stroke-width: 10;
    }
}


.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

svg {
    display: block;

    path {
        display: block;
    }
}

.now-con{
    display: flex;
    place-items: center;
align-items: center;
    padding: 20px;
}