.btn,
button {
	padding: .5em .8em;
	border: 0;
	/* margin: .5em; */
	cursor: pointer;
	line-height: 1.71428571429;

	border: 1px solid;
	background-color: var(--primary-background-color);
	border-color: var(--ui-border-color);
	border-radius: 4px;

	transition: 0.3s ease-in-out;

	&.white {
		border: 0;
		transition: 0ms
	}

	&.icon-svg {
		padding: 0.5em;
	}

	&.active {
		background-color: var(--primary-selected-color)
	}

	&:hover {
		background-color: var(--primary-background-hover-color);

		&.active {
			background-color: var(--primary-selected-color)
		}
	}

	&:active {
		animation: btn-click 100ms ease-in-out;
	}


	&.blue {
		border: 0;
		background-color: var(--primary-color);
		color: var(--text-color-on-primary);
		transition: 0ms;

		&:hover {
			background-color: var(--primary-hover-color)
		}
	}

	&.remove-date {
		transition: 100ms ease-in-out;
		padding: 0;
		border: 0;
		background-color: var(--primary-background-hover-color);

		&:hover {
			background-color: var(--primary-selected-color);
		}
	}

	&.square {
		padding: 0.5em;
	}

	&.add-group {
		position: sticky;
		left: 36px;
		display: grid;
	}
}


input {
	margin: 0;
	padding: 0;
	outline: 0;

	width: 100%;

	border: 1px solid var(--layout-border-color);

	border-radius: 4px;
	padding-block: 4px;
	padding-inline: 1px;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;

	&.gray {
		border-color: var(--ui-border-color);
	}

	&:focus {
		border: 1px solid var(--primary-color);
	}

}

@keyframes btn-click {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.8;
	}

	100% {
		scale: 1;
	}
}


select {
	outline: none;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	padding: var(--spacing-xs) var(--spacing-small);
	height: 32px;
	line-height: 24px;
	border-radius: 4px;

	&:hover {
		background-color: var(--primary-background-hover-color);
	}

	&:focus {
		background-color: var(--primary-selected-color);
	}

	option {
		background-color: var(--primary-background-color);
	}
}