.main-container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    min-height: 100vh;


    &:not(.main-site-layout) {

        .app-aside,
        .app-header {
            display: none;
        }
    }



    &.main-site-layout {

        grid-template-columns: max-content 1fr;
        grid-template-areas:
            "app-header app-header"
            "app-aside app-main-content";
        align-content: start;
        min-height: 100vh;

        >* {
            grid-column: 2;

            &.full {
                grid-column: 1 / -1;
            }
        }

        .app-header {
            grid-area: app-header;
            height: 48px;
            max-height: 48px;
            margin-inline-start: 12px;
            padding-inline-end: var(--spacing-large);
        }

        .app-aside {
            grid-area: app-aside;
            max-height: calc(100vh - 48px);
        }

        .app-main-content {
            grid-area: app-main-content;
            height: calc(100vh - 48px);
            background-color: var(--primary-background-color);
            overflow: auto;
            border-radius: 12px 0 0 0;
        }

    }


}


/* .main-layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    height: 90vh;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--layout-border-color);

    & .main-content {
        padding: 1em;
        background-color: var(--primary-background-color);
        border-radius: 12px;
    }
}
 */



/* .sample-grid-layout {
    display: grid;
    grid-template-columns: 12px 1fr 12px;

    @media (min-width: 624px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 624px) minmax(12px, 1fr);
    }

    @media (min-width: 784px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 784px) minmax(12px, 1fr);
    }

    @media (min-width: 1048px) {
        grid-template-columns: minmax(12px, 1fr) minmax(auto, 1048px) minmax(12px, 1fr);
    }


    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }
} */