.board-preview {
    display: grid;

    .board-info-items {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr 90px;
        grid-template-areas:
            "dashBoard txt star";
        align-items: center;
        padding: 16px 13px 9px 8px;
    }
}


.board-preview .board-info-items>*:nth-child(1) {
    grid-area: dashBoard;
}

.board-preview .board-info-items .long-txt {
    grid-area: txt;
    text-align: justify;
    margin-inline: 6px;
}

.board-preview .board-info-items>*:nth-child(3) {
    grid-area: star;
    justify-self: end;
    align-self: center;
    margin: 0;
}