.board-list {
    --min-column-size: 220px;

    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;
    border: 1px solid black;
    border-radius: 2vh;


    & li {
        padding: .5em;
        background-color: var(--clr2);

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }
}