.board-removed-msg {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;

    img {
        height: 340px;
        width: 340px;
    }

    .removed-msg {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    a {
        justify-self: center;
        width: max-content;
        font-size: 16px;
        font-weight: 400;
    }
}