.board-item {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    padding: 8px;
    margin-bottom: 10px;

    border: 1px solid;
    border-color: var(--layout-border-color);

    height: max-content;

    &:hover {
        background-color: transparent;
        box-shadow: var(--box-shadow-medium);
        border-color: transparent;
    }

    .board-preview {

        .board-img-wrapper {
            display: flex;
            margin-bottom: 8px;
            background-color: #cbddff;
            border-radius: 4px;
            justify-content: center;
            overflow: hidden;
            width: 100%;
            height: 140px;

            img {
                object-fit: cover;
            }
        }

        .board-info-items {
            font-weight: 700;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 6px;

            .svg-icon {
                color: var(--secondary-text-color);
            }

            .board-title {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-inline-start: 4px;
            }


        }


    }
}