.board-index {
    .board-index-haeder {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-inline: 20px;
        padding-block-start: 20px;
    }

    & h2 {
        margin: 0;
        font-size: 1.3em;
    }

    & button {
        margin-inline-end: 0;
    }
}