.board-list {
    padding-inline: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: stretch;
    align-items: stretch;
    grid-gap: 20px;
    border-radius: 2vh;
    padding: 16px;


    &.side-bar-dispaly {
        display: flex;
        flex-direction: column;
        gap: 2px;
        overflow: hidden;
        background-color: transparent;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        padding-inline: 16px;

        .board-item {
            border: 0;
            width: 100%;
            flex-shrink: 1;
            color: var(--secondary-text-color);
            padding: 0;
            padding-inline-start: 8px;
            margin: 0;

            .board-actions,
            .board-img-wrapper {
                display: none;
            }

            &:has(.menu-open) {
                &:not(.active) {
                    background-color: var(--primary-background-hover-color);
                }
            }

            &:hover {
                box-shadow: none;
                background-color: var(--primary-background-hover-color);
                color: var(--primary-text-color);

                .svg-icon {
                    color: var(--primary-text-color);
                }

                .board-info-items {

                    .board-menu-btn {
                        opacity: 1;
                    }
                }
            }

            &.active {
                background-color: var(--primary-selected-color);
                color: var(--primary-text-color);

                .svg-icon {
                    color: var(--primary-text-color);
                }
            }

            .board-info-items {
                font-weight: 400;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 6px;
                height: 30px;

                .svg-icon {
                    color: var(--secondary-text-color);
                }

                .board-title {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                button {
                    margin-inline-end: 8px;
                }

                .board-menu-btn {
                    position: relative;
                    opacity: 0;

                    &.menu-open {
                        opacity: 1;
                        background-color: var(--primary-selected-color);
                    }
                }



            }
        }

    }

}