.board-edit {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;

    min-height: 0;
    overflow-y: auto;
    /* // old */
    /* padding: 16px; */
        /* flex: 0 1 auto; */

    padding: 2rem;



    .board-edit-title {
        font-size: 2.28571428571em;
        font-weight: 500;
        margin-block-end: 16px;


    }

    .edit-label {
        display: block;
        margin-block-end: 8px;
        font-weight: 400;
    }

    .board-title-input {
        width: 100%;
        border-radius: 4px;
        font-size: 1.14285714286em;
        padding: 8px 16px;
        outline: 0;
        position: relative;
        margin-block-end: 24px;
    }

    .privacy-types-list {
        gap: 16px;
        margin-block-end: 8px;

        font-size: 1.07142857143em;
        font-weight: 400;

        li {
            text-transform: capitalize;
            cursor: pointer;
            display: grid;
            grid-template-columns: 18px auto;
            grid-gap: 0.5em;

            &>* {
                cursor: pointer;
            }

            .privacy-label {
                gap: 0.2em;
            }
        }
    }

    .privacy-note {
        color: var(--secondary-text-color);
    }

    .sections-divider {
        height: 16px;
        border-bottom: 1px solid #e6e9ef;
        margin-block-end: 16px;
    }

    .managing-type-list {
        display: flex;
        flex-wrap: wrap;

        font-weight: 400;

        text-transform: capitalize;
        margin-block-end: 16px;

        .managing-item {
            display: grid;
            grid-template-columns: 1.5em auto;
            grid-gap: 0.5em;
            cursor: pointer;

            margin-inline-end: 0;
            min-width: 144px;
            margin-block-end: 12px;

            &>* {
                cursor: pointer;
            }

        }

    }

    .custom-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 1.5em auto;
        grid-gap: 0.5em;
        cursor: pointer;

        .custom-input {

            display: grid;
            grid-template-columns: 1.5em auto;
            align-items: center;
            grid-gap: 0.5em;

            margin-inline-end: 0;
            min-width: 144px;
            margin-block-end: 12px;


            input[type="text"] {
                padding-inline-start: 8px;
            }
        }

    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;

        border: 0.1em solid;
        border-color: var(--ui-border-color);
        border-radius: 50%;
        transition: border-width 100ms cubic-bezier(0, 0, 0.35, 1);
        background-color: var(--secondary-background-color);
    }

    input[type="radio"]:checked {
        border-color: var(--primary-color);
        border-width: 0.3em;
        width: 16px;
    }

    .actions {

        display: grid;
        grid-auto-flow: column;
        justify-self: flex-end;

        :first-child {
            margin-inline-end: 8px;
        }

        &>* {
            height: 40px;
            font-size: 1.14285714286em;
            padding: 8px 16px;
        }
    }
}