.filter-by-board-details {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    box-shadow: 10px 10px 10px black;


    header {
        padding: 16px 24px 0;
    }

    .filters-container {
        padding: 8px 24px 24px 24px;
        overflow-y: hidden;
        overflow-x: auto;
        width: 752px;
        height: 276px;
    }

    .options-list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        /* max-height: 188px; */


        .option-item {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-right: 4px;
            height: 32px;
            cursor: pointer;
            border-radius: 4px;
            background-color: var(--pulse-background-color);
            order: 2;

            &:hover {
                background-color: var(--primary-background-hover-color);
                color: var(--primary-text-color);
            }

            &.active {
                background-color: var(--primary-selected-color);
                order: 1;

                &:hover {
                    background-color: var(--primary-selected-hover-color);

                }
            }

            .item-color {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
                flex: 0 0 auto;
            }

            .member-icon {
                position: relative;
                display: flex;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                margin-inline-end: 8px;
            }

        }
    }
}