.sort-by-board-details {
    padding: 20px 16px 16px 16px;
    width: 524px;

    .sort-by-header {
        font-size: 15px;
        font-weight: 500;
        margin-block-end: 16px;
    }

   .sort-select *:nth-child(1) {
        width: 280px;
        /* first CustomSelect */
    }

   .sort-select *:nth-child(2) {
        width: 208px;
    }

    .sort-select {
        display: grid;
        grid-template-columns: 1fr 230px max-content;
        gap: 8px;
        margin-block-end: 32px;
        height: 40px;
        width: 524px;

        .custom-select {
            border: 1px solid var(--ui-border-color);
            border-radius: 4px;
            text-transform: capitalize;

            /* :first-child {
                width: 280px;
            } */




            &:hover {
                border-color: black;
            }

            &:has(.box-open) {
                border-color: var(--primary-color);
            }

            &>* {
                height: 100%;
            }

            .label-selection-wrapper {
                width: 100%;
                height: max-content;
                border-radius: 8px;
            }

            .label-prev {
                justify-content: space-between;
            }

            label {
                display: flex;
                align-items: center;
            }

            .selected-icon {
                margin-inline-end: 8px;
            }
        }
    }
}