:root {
  /* site background-color */
  --surface-color: rgb(237, 241, 252);
  --primary-background-color: rgb(255, 255, 255);
  /* popup backdrop */
  --react-modal-background: rgba(41, 47, 76, 0.7);

  /* hover background-color  */
  --primary-background-hover-color: rgba(103, 104, 121, 0.1);
  /* active selected background-color: ; */
  --primary-selected-color: rgba(194, 213, 255, 0.40);

  /* text color -  icon use this colors  */
  --primary-text-color: rgb(50, 51, 56);
  --secondary-text-color: rgb(103, 104, 121);
  --text-color-on-primary: rgb(255, 255, 255);
  --disabled-text-color: rgba(50, 51, 56, 0.38);
  --link-color: #1f76c2;
  --disabled-text-color: rgba(50, 51, 56, 0.38);

  /* border */
  --application-border-color: rgb(230, 233, 239);
  --layout-border-color: rgb(208, 212, 228);

  /* for btns border */
  --ui-border-color: rgb(195, 198, 212);

  /*border radius */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-big: 16px;

  /* group table */
  --pulse-background-color-rgb: #f4f5f8;
  --primary-selected-color-rgb: #cde5fe;

  /* btns */
  --primary-color: rgb(0, 115, 234);
  --primary-hover-color: rgb(0, 96, 185);
  --primary-background-color: rgb(255, 255, 255);
  --primary-background-hover-color: rgba(103, 104, 121, 0.1);

  /* icon */
  --star-color: rgb(255, 203, 0);
  --header-icon-size: 20px;
  --aside-menu-icon-size: 16px;

  /* group title colors */
  --group-title-clr1: rgb(23, 128, 77);
  --group-title-clr2: rgb(39, 201, 119);
  --group-title-clr3: rgb(157, 212, 53);
  --group-title-clr4: rgb(200, 182, 73);
  --group-title-clr5: rgb(252, 203, 41);
  --group-title-clr6: rgb(121, 74, 207);
  --group-title-clr7: rgb(157, 78, 219);
  --group-title-clr8: rgb(30, 126, 179);
  --group-title-clr9: rgb(95, 155, 249);
  --group-title-clr10: rgb(111, 204, 253);
  --group-title-clr11: rgb(184, 48, 85);
  --group-title-clr12: rgb(219, 42, 77);
  --group-title-clr13: rgb(250, 0, 128);
  --group-title-clr14: rgb(251, 87, 195);
  --group-title-clr15: rgb(250, 98, 55);
  --group-title-clr16: rgb(249, 170, 71);
  --group-title-clr17: rgb(125, 83, 72);
  --group-title-clr18: rgb(196, 196, 196);
  --group-title-clr19: rgb(117, 117, 117);

  /* status colors */
  --working-on-it: rgb(253, 171, 61);
  --stuck: rgb(219, 42, 77);
  --done: rgb(39, 201, 119);
  --defult-label-color: rgb(196, 196, 196);



  /* success */
  --positive-color: rgb(0, 133, 77);
  --positive-color-hover: rgb(0, 112, 56);

  /* error */
  --negative-color: rgb(216, 58, 82);
  --negative-color-hover: rgb(182, 53, 70);


  /* box-shadow */
  --box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  --box-shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --box-shadow-medium: 0px 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-large: 0px 15px 50px rgba(0, 0, 0, 0.3);
  --board-elevation: 0 8px 8px -8px rgba(0, 0, 0, 0.1);

  /* padding / margin*/
  --spacing-xs: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 64px;
  --space-2: 2px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-64: 64px;
  --space-80: 80px;


  /* fonnts */
  --font-family: Figtree, Roboto, Noto-Sans-Hebrew, sans-serif;
  --title-font-family: Poppins, Figtree, Roboto, Noto-Sans-Hebrew, sans-serif;


  /* font sizes */

  /* font-weight:400 */
  --site-font-size: 14px;

  /* logo */
  /* font-weight: 700 / 300 */
  --logo-font-size: 16px;

  /* aside menu */




  /* monday colors  */

  /* background colors */
  /* --surface-color: #edf1fc;
  --primary-background-color: #ffffff;
  --layout-border-color: #d0d4e4; */

  /* header */
  /* --layout-border-color: #d0d4e4;
  --avatar-image-size: 32px;
  --primary-background-hover-color: rgba(103, 104, 121, 0.1);
  --primary-text-color: #323338;
  --avatar-background: rgba(255, 255, 255, 0.5);
  --icon-size: 20px; */

  /* aside */
  /* The background is a mix of these two colors.*/
  /* --surface-color: #edf1fc;
  --primary-background-color: #ffffff; */

  /* --secondary-text-color: #676879; */
  /* hover */
  /* --primary-background-hover-color: rgba(103, 104, 121, 0.1);
  --primary-text-color: #323338; */
  /* active */
  /* --primary-selected-color: rgba(194, 213, 255, 0.40);
  --icon-size: 16px; */

  /* btns */
  /* --primary-color: #0073ea;
  --primary-hover-color: #0060b9; */

  /* main */
  /* --primary-background-color: #ffffff; */

  /* borad-list-item */
  /* --layout-border-color: #d0d4e4;
  --star-color: #ffcb00;
  --box-shadow-medium: 0px 6px 20px rgba(0, 0, 0, 0.2); */

  /* btn like (add group / invite) */
  /* --ui-border-color: #c3c6d4;
  --primary-background-color: #ffffff;
  --primary-background-hover-color: rgba(103, 104, 121, 0.1); */

  /* btns like(add item) */
  /* --primary-color: #0073ea;
  --primary-hover-color: #0060b9; */

  /* group table */
  /* --layout-border-color: #d0d4e4; */
  /* background color when hover on task line */
  /* --pulse-background-color-rgb: 245, 246, 248; */
  /* background color when task line active */
  /* --primary-selected-color-rgb: 204, 229, 255; */
  /* when column of task selected */
  /* --primary-color: #0073ea; */

}