.task-list {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

.task-preview {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;


    &.dragged {

        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        background-color: yellow;

    }
}

