.task-details-activity-log {

    .activities-list {
        display: flex;
        flex-direction: column;

        .activity-item {
            display: grid;
            grid-template-columns: 56px 30px 1fr;
            gap: 8px;
            align-items: center;
            min-height: 39px;
            padding-block: 8px;
            border-block-end: 1px solid;
            border-color: var(--ui-border-color);
            padding-inline: 16px;

            &>* {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .task-name-log {
                display: none;
            }

            img {
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }
        }
    }
}


@media (min-width: 750px) {
    .task-details-activity-log {
        .activities-list {
            .activity-item {
                display: grid;
                grid-template-columns: 56px 30px 180px 1fr;
                gap: 4px;

                &>* {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .task-name-log {
                    display: block;
                }
            }
        }
    }
}