.task-details-file {
    padding: 16px;

    .add-file-btn {
        cursor: auto;
        margin-block-end: 8px;

        &.blue {
            align-items: center;
            gap: 8px;
            padding: 8px;
            padding-inline: 12px;
            font-size: 16px;
        }
    }

    .task-details-file-nav {
        margin-block-end: 16px;
    }

    .file-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;

        .file-itme {
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 8px;
            border-radius: 8px;
            padding: 8px;
            border: 1px solid var(--ui-border-color);
            max-height: 120px;
            cursor: pointer;

            .file-itme-img {
                object-fit: cover;
                border-radius: 8px;
                width: 88px;
                height: 88px;
            }

            .file-itme-title {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    .no-file-msg {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 8px;

        .first-line-no-file {
            font-size: 16px;
        }
    }
}