.task-details-updates {
    padding: 16px;

    .update-form {
        display: grid;
        gap: 4px;

        border: 1px solid var(--primary-color);
        border-radius: 8px;

        margin-block-end: 8px;

        .text-editor-wrapper {
            .ql-formats {
                margin: 0;
            }

            .ql-active {
                background-color: var(--primary-selected-color);
                color: var(--primary-color);
            }

            button {
                margin: 0;
                margin-inline-end: 4px;
            }

            .ql-snow {
                border: 0;
            }
        }

        button {
            justify-self: end;
            margin: 8px;
        }


    }

    .editor-placeholder {
        border: 1px solid var(--ui-border-color);
        border-radius: 8px;
        padding: 16px;
        margin-block-end: 8px;

        &:hover {
            background-color: var(--primary-background-hover-color);
            cursor: text;
        }
    }

    .updates-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .update-item {
            border: 1px solid var(--ui-border-color);
            border-radius: 8px;
            padding: 16px;

            .update-user-name {
                font-weight: 700;
            }


            p {
                margin: 0;

                &.ql-align-justify {
                    text-align: left;
                }

                &.ql-align-center {
                    text-align: center;
                }

                &.ql-align-right {
                    text-align: right;
                }
            }
        }

        .update-header {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-block-end: 16px;

            .user-img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }
    }
}