.member-task-select-wrapper {
    display: grid;
    width: 344px;


    .member-task-select {
        display: flex;
        flex-direction: column;
        max-height: 276px;

        overflow: auto;

        gap: 8px;
        padding: 16px;

        .search-bar-container {
            /* display: flex; */

            padding: 4px 4px 4px 16px;

            align-items: center;

            /* font: var(--site-font-size); */
            border-radius: var(--border-radius-small);
            border: 1px solid var(--ui-border-color);

            .search-bar {
                display: flex;
                gap: 8px;
                align-items: center;



                input {
                    border: none;
                    background-color: transparent;
                }

                .search {
                    display: flex;
                }

                .delete-btn {
                    width: 24px;
                    border: none;
                    opacity: 0;
                    color: var(--secondary-text-color);

                    &.true {
                        opacity: 1;
                    }
                }

            }


        }



    }

}


.user {
    width: 100%;
    padding: 6px 8px;
    font-size: inherit !important;

    align-items: center;
    border-radius: var(--border-radius-small);
    gap: 9px;
    border-color: transparent;

    &.invite-btn {

        display: flex;
    gap: 8px;

        & .icon {
            margin-inline: 6px;
        }

        & .txt {
            align-self: center;
        }

        /* .addMember { */
        /* } */
    }

    .user-img {
        width: 26px;
    }

    .user-name,
    .profession {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .profession {
        color: var(--secondary-text-color);
    }

    .img-container {
        display: flex;
        place-content: center;

    }
}