.member-selected-preview {
    display: flex;
    place-content: center;

    .plus {
        opacity: 0;
        margin-inline-start: -8.px
    }

    &:hover .plus {
        opacity: 1;
    }

    .cmp-img {
        display: flex;
        margin-inline: 34px;
    }

    .img-wrapper {
        display: block;
    }

    .user-img {
        display: block;
        width: 35px;
        border-radius: var(--border-radius-big);
    }
}