.member-picker {
    position: relative;
    display: flex;
    cursor: pointer;
        place-content: center;

    .plus {
        position: absolute;
        right: 14px;
        opacity: 0;
    }

    &:hover .plus-blue {
        opacity: 1;
    }

    .cmp-img {
        display: flex;
        /* margin-inline: 34px; */
    }

    .img-wrapper {
        display: block;
    }

    .user-img {
        display: flex;
        width: 35px;
        border-radius: var(--border-radius-big);
        align-self: center;
    }
}