.member-card-wrapper {
    display: flex;
    flex-direction: column;

    width: 335px;

    font-size: 14px;
    border-radius: 8px;

    .member-card-content {
        display: flex;
        flex-direction: column;

        gap: 15px;

        padding: 16px 24px;


        .card-info {

            display: flex;

            .user-img {
                margin: 0;
                width: 75px;
                height: 75px;

            }

            .card-user-info {
                display: flex;
                flex-direction: column;
                line-height: 22.5px;


                margin-left: 16px;
                padding-left: 4px;
                flex: 1;

                .user-name {
                    font-size: 1.28rem;
                }

                .user-profession {
                    margin-top: 6px;
                    color: var(--secondary-text-color);
                }


                .date-time-container {
                    display: flex;
                    margin-top: 6px;
                    align-items: center;
                    color: var(--secondary-text-color);

                    & img {
                        width: 30px;
                    }

                }

                .date-time-container>*:nth-child(1) {
                    align-self: flex-start;
                    margin-inline-end: 4px;
                }

                .user-member-tags-container {
                    display: flex;
                    margin-top: 6px;
                    gap: 1rem;

                }


                .tag-label {
                    padding: 2px 8px;
                    border-radius: var(--border-radius-medium);
                    background-color: var(--group-title-clr10);
                }


            }
        }
    }

    .card-info>* {
        margin-inline: 5px;
    }

}