.member-picker {
    position: relative;
    display: flex;
    cursor: pointer;
    place-content: space-evenly;

    .plus {
        position: absolute;
        right: 14px;
        opacity: 0;
    }

    &:hover .user-img .plus-blue {
        opacity: 1;
    }

    .user-img {
        position: relative;
        display: flex;
        border-radius: var(--border-radius-big);
        place-self: center;
        object-fit: cover;

        &:not(:has(.person)) {
            border: 2px solid var(--pulse-background-color);
        }

        &.img {
            height: 30px;
            width: 30px;
        }

        .person {
            position: relative;
            right: 15%;
        }

        .plus-blue {
            position: relative;
            right: 40%;
            opacity: 0;
        }


    }
}