.group-list {
    display: grid;
    grid-template-columns: 434px 1fr;
    grid-auto-rows: max-content;
    align-items: start;

    .group-container {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1/-1;
        margin-block-end: 32px;

        transition: height 0.2s ease, background-color 0.2s ease;

    }

    &.collapsed {
        grid-template-columns: 1fr;
    }

}


/* header of ther group */

.group-header {
    position: sticky;
    top: 148px;
    z-index: 50;

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;

    .group-title-row {
        position: sticky;
        left: 0;
        height: 40px;
        z-index: 50;

        display: grid;
        grid-template-columns: 36px 30px max-content max-content max-content;
        align-items: center;
        gap: 2px;
        background-color: var(--primary-background-color);

        &:hover {
            .group-menu-wrapper>* {
                opacity: 1;
            }

            .task-count {
                opacity: 1;
            }
        }

        .group-menu-wrapper {
            align-content: center;
            justify-self: end;

            &>* {
                width: 24px;
                aspect-ratio: 1/1;
                padding: 0;
                margin-inline-end: 4px;
                opacity: 0;
            }
        }

        .group-title {
            cursor: text;
            font-size: 1.28571428571em;
            font-weight: 500;
            color: var(--group-color);
        }

        .task-count {
            font-weight: 400;
            opacity: 0;
            transition: 200ms ease-in-out;
            margin-inline-start: 0.5em;
        }
    }
}


/* white bolck on the right side from the group header */

.temporary-white-block {
    background-color: var(--primary-background-color);
}



.table-row {

    /* Refers to columns in the group header */

    &.table-header {

        .sticky-cell-wrapper {
            text-transform: capitalize;

            &>*:not(.table-border, .task-menu-wrapper) {
                border-block-start: 1px solid var(--layout-border-color);
            }

            .table-border {
                border-radius: 6px 0 0 0;
            }
        }

        .task-title,
        .column-cell {
            place-content: center;
            text-align: center;
        }

        .column-cell {
            border-block-start: 1px solid var(--layout-border-color);
        }
    }

    &:hover,
    &:has(:focus, .focus) {
        &:has(.add-task-cell) {
            .table-border {
                background-color: var(--group-color);
            }
        }
    }


    &:has(.add-task-cell) {
        box-shadow: var(--board-elevation);
    }


    /* The last row in the group that summarizes all the data in the different columns */

    &.sum-row {
        .sticky-cell-wrapper {
            .border-radius-block {
                position: absolute;
                top: 0;
                right: -10px;
                width: 10px;
                height: 36px;
                background-color: var(--primary-background-color);
                border-block-end: 0;
                border-inline-end: 0;
                z-index: 30;

                &>* {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-block-end: 1px solid var(--layout-border-color);
                    border-inline-start: 1px solid var(--layout-border-color);
                    border-radius: 0 0 0 6px;
                }

            }
        }

    }
}


/* The left column usually contains the task title. */
.sticky-cell-wrapper {

    &:has(.add-task-cell) {
        .table-border {
            border-radius: 0 0 0 6px;
            background-color: color-mix(in srgb, var(--group-color) 50%, white 50%);
            /* background-color: var(--group-color); */
        }
    }

    .add-task-cell {
        display: flex;
        border-inline-end: 0;

        &:has(input) {
            span {
                padding-inline-start: 0;
                margin-inline: 0;
            }

            input {
                padding-inline-start: 32px;
            }
        }

        &>* {
            align-self: center;
            width: 100%;
            padding-inline-start: 32px;
            margin-inline: 4px;

            &:hover {
                outline: 1px solid var(--layout-border-color);
                border-radius: 4px;
                width: 300%;
            }
        }
    }
}

.group-collapsed {
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}




.group-list div.placeholder {
    height: 50px !important;
    /* Match the height of collapsed groups */
    margin-bottom: 10px;
    /* Add consistent spacing */
    background-color: #f0f0f0;
    /* Optional: Add a background color */
    border: 1px dashed #ccc;
    /* Optional: Add a dashed border */
    border-radius: 4px;
    /* Optional: Match the border radius of your groups */
}