.group-container {

    &.individual-collapse {
        height: 60px;

        .group-header {
            height: 100%;
            width: 100%;

            &:has(.color-picker) {
                z-index: 60;
            }

            &>* {
                height: 100%;
                width: 100%;
            }
        }

        .table-row.table-header {
            position: relative;
            min-height: 65px;
            max-height: 65px;

            .group-title-row {
                position: sticky;
                left: 10px;

                min-height: 65px;
                max-height: 65px;

                display: grid;
                gap: 0;
                grid-template-columns: 6px 28px 1fr;
                grid-template-rows: 1fr max-content;
                border-inline-end: 1px solid var(--layout-border-color);


                margin-inline-start: 0;

                .group-bar {
                    position: relative;
                    background-color: var(--group-color);
                    grid-row: 1/-1;
                    width: 100%;
                    height: 100%;
                    border-radius: 6px 0 0 6px;


                    .group-menu-wrapper {
                        position: absolute;
                        top: 0;
                        left: -36px;
                        background-color: var(--primary-background-color);

                        display: grid;
                        align-content: start;
                        justify-items: end;

                        width: 36px;
                        height: 70px;

                        .group-menu {
                            display: none;
                        }
                    }

                }

                .collapse-group-toggle {
                    border-block-start: 1px solid var(--layout-border-color);
                    width: 100%;
                    height: 100%;
                    padding-block-start: 8px;
                    justify-items: center;
                    align-content: center;
                    margin-inline-end: 0px;
                }

                .group-title-wrapper {
                    padding-block-start: 4px;
                    padding-inline-end: 8px;
                    border-block-start: 1px solid var(--layout-border-color);
                    height: 100%;


                    .group-title {
                        width: max-content;
                        max-width: 350px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        padding: 0;
                        min-height: 30px;
                        align-content: center;
                        text-transform: none;
                    }


                    .group-title-editor {
                        display: flex;
                        width: 100%;

                        input {
                            flex: 1 1;
                            min-width: 0;
                        }
                    }

                }

                .task-count-wrapper {
                    display: grid;
                    grid-template-columns: subgrid;
                    grid-area: 2/2/2/4;
                    border-block-end: 1px solid var(--layout-border-color);
                    width: 100%;
                    height: 100%;

                    .task-count {
                        opacity: 1;
                        margin: 0;
                        padding-block-end: 8px;
                        color: var(--secondary-text-color);
                    }
                }
            }


            .column-cell {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                min-height: 65px;
                max-height: 65px;
            }
        }


        /* .sticky-cell-wrapper {
            z-index: var(--zIndex-Layer-1);
        } */

    }


}


@media (min-width: 750px) {
    .group-container {


        &.individual-collapse {
            .table-row.table-header {
                .group-title-row {
                    position: sticky;
                    left: 36px;

                    .group-bar {
                        .group-menu-wrapper {
                            .group-menu {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
}