.timeline-picker {
    position: relative;
    display: grid;
    justify-content: center;
    cursor: pointer;

    .remove-date {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        right: 8px;
        opacity: 0;
    }

    &:hover {
        .remove-date {
            opacity: 1;
        }
    }

    .dates-container {
        width: calc(var(--timeline-column) - 20px);


        background-color: rgb(196, 196, 196);
        color: white;
        border-radius: 100vh;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-inline: 8px;

        &:hover:not(.data) {
            background-color: rgb(171 171 171);
        }

        &.data {
            background-image: linear-gradient(to right, var(--group-color) var(--timeElapsedPercent),
                    black var(--timeElapsedPercent), black 100%);
        }

    }
}