.labels-sum {
    display: flex;
    justify-content: center;
    align-items: center;

    .label-list {
        display: flex;
        flex-direction: row;
        background-color: #c4c4c4;
        width: 90%;
        height: 70%;
        font-size: 12px;

        &>* {
            transform: scale(1, 1);
            transition: 100ms ease-in-out;

            &:hover {
                transform: scale(1, 1.2);
                border-radius: 2px;
            }
        }
    }
}


/* .toolTip-title {
    position: relative;
    isolation: isolate;
    z-index: var(--zIndex-Layer-30);

    &::before {
        position: absolute;
        top: -130%;
        left: 50%;
        translate: -50%;



        content: attr(data-tooltip);

        content: attr(data-tooltip);
        background-color: #474747;
        color: white;
        padding: 4px 8px;
        white-space: nowrap;
        border-radius: 4px;

        scale: 0;
        transform-origin: bottom;
        transition: 200ms ease-in 0ms;
    }

    &:hover {
        &::before {
            transition: 200ms ease-in-out 200ms;
            scale: 1;
        }
    }

} */